@import "../../../styles/mixins.scss";

.cardFrontContainer,
.cardBackContainer {
  @include cardMixin;
  padding: 50px 14px 14px 14px;
}

.cardBackContainer {
  position: relative;
}

.btnBox {
  display: flex;
  align-self: flex-end;
  gap: 7px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  font-size: 12px;
  font-weight: 400;
}
