.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 16px;
  background: var(--white);
  z-index: 1;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12.18px;
}

.logo {
  width: 31.815px;
  height: 29px;
}

.counter {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.addbtn {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 32px;
  background-color: var(--black);
  img {
    width: 24px;
    height: 24px;
  }
}
