@import "./mixins.scss";

.cardContainer {
  @include cardContainer;
  position: relative;
  justify-content: center;
  padding: 40px 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
}

.cardEditContainer {
  @extend .cardContainer;
  padding: 50px 14px 14px 14px;
}

.cardText {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
}

.cardAnimation {
  animation: flip-vertical-right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;

  p,
  button {
    animation: flip-vertical-right-child 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

.cardAnimationNone {
  animation: none;
}

.btnBox {
  @include btnBox;
}

@keyframes flip-vertical-right {
  0% {
    width: 343px;
  }
  50% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 343px;
    opacity: 1;
  }
}

@keyframes flip-vertical-right-child {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
