:root {
  --white: #fff;
  --black: #161616;
  --bg: #373737;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  background: var(--bg);
  color: var(--black);
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}
